<div >
<img src = "../banner.png" />
</div>

# Sistemas de Recomendación

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/ignaciomsarmiento/RecomSystemsLectures/blob/main/L01_Intro_Sistemas_Recomendac/L01_Intro_Sistemas_Recomendac.ipynb)

## ¿Qué son los sistemas de recomendaciones?


Las preferencias de los individuos suelen seguir patrones que los sistemas de recomendación pueden aprovechar, por ejemplo,

- Si te interesó:  <div style="max-width:200px">
<img src = "figs/iron_man.jpg" />
</div>


- También te puede interesar: <div style="max-width:200px">
<img src = "figs/thor.jpg" />
</div> 




- Los sistemas de recomendación entonces encuentran patrones que son utilizados para predecir qué otros productos podrían gustarnos y generar sugerencias, de forma tal que  los usuarios encuentren contenido atractivo en un gran corpus.

## Tipos de sistemas de recomendación



- Recomendadores basados en conocimiento

- Filtrado colaborativo

- Filtrado basado en contenido

- Recomendadores híbridos

### Estructura de los sistemas de recomendación

Los sistemas de recomendación constan principalmente de 2 componentes:

   - Generación de candidatos
   
   - Ranking o Puntuación

# Python

<center>
    <img width="50%" src="https://www.python.org/static/community_logos/python-logo-generic.svg">
</center>


`Python` es un lenguaje de programación de alto nivel, interpretado, orientado a objetos y de propósito general. Fue creado en la década de 1990 por Guido van Rossum y se ha convertido en uno de los lenguajes de programación más populares del mundo.

`Python` es conocido por su sintaxis clara y legible, lo que lo hace muy fácil de aprender para los principiantes en programación. Además, es altamente modular y escalable, lo que lo convierte en una excelente opción para proyectos de cualquier tamaño y complejidad.

`Python` es utilizado en una variedad de aplicaciones, desde la creación de páginas web hasta el análisis de datos y el aprendizaje automático. Es también utilizado en el desarrollo de juegos, aplicaciones móviles, sistemas embebidos y mucho más.

## Breve Repaso
### Operaciones matematicas



| Operators | Operation         | Example         |
| --------- | ----------------- | --------------- |
| \*\*      | Exponente          | `2 ** 3 = 8`    |
| %         | Modulo | `22 % 8 = 6`    |
| //        | Integer division  | `22 // 8 = 2`   |
| /         | Division          | `22 / 8 = 2.75` |
| \*        | Multiplicación    | `3 * 3 = 9`     |
| -         | Resta       | `5 - 2 = 3`     |
| +         | Suma          | `2 + 2 = 4`     |

Ejemplos:

```python
>>> 2 + 3 * 6
# 20

>>> (2 + 3) * 6
# 30

>>> 2 ** 8
#256

>>> 23 // 7
# 3

>>> 23 % 7
# 2

>>> (5 - 1) * ((7 + 1) / (3 - 1))
# 16.0
```

## Operadores de asignación aumentada

| Operator   | Equivalent      |
| ---------- | --------------- |
| `var += 1` | `var = var + 1` |
| `var -= 1` | `var = var - 1` |
| `var *= 1` | `var = var * 1` |
| `var /= 1` | `var = var / 1` |
| `var %= 1` | `var = var % 1` |

Ejemplos:

```python
>>> greeting = 'Hello'
>>> greeting += ' world!'
>>> greeting
# 'Hello world!'

>>> number = 1
>>> number += 1
>>> number
# 2

>>> my_list = ['item']
>>> my_list *= 3
>>> my_list
# ['item', 'item', 'item']
```

## Tipos de Datos 

| Data Type              | Examples                                  |
| ---------------------- | ----------------------------------------- |
| Integers               | `-2, -1, 0, 1, 2, 3, 4, 5`                |
| Floating-point numbers | `-1.25, -1.0, --0.5, 0.0, 0.5, 1.0, 1.25` |
| Strings                | `'a', 'aa', 'aaa', 'Hello!', '11 cats'`   |

## Concatenación y Repliación

Concatenación de String :

```python
>>> 'Alice' 'Bob'
# 'AliceBob'
```

Replicación de Strings :

```python
>>> 'Alice' * 5
# 'AliceAliceAliceAliceAlice'
```

## Variables

Puede nombrar  una variable de cualquier forma siempre que cumpla las siguientes reglas:

1. Puede ser solo una palabra

```python
>>> # bad
>>> my variable = 'Hello'

>>> # good
>>> var = 'Hello'
```

2. Solo puede usar letras, numeros y guión bajo (`_`) .

```python
>>> # bad
>>> %$@variable = 'Hello'

>>> # good
>>> my_var = 'Hello'

>>> # good
>>> my_var_2 = 'Hello'
```

3. No pueden comenzar con un número

```python
>>> # this wont work
>>> 23_var = 'hello'
```



## Comentarios

Inline comment:

```python
# This is a comment
```

Multiline comment:

```python
# This is a
# multiline comment
```

Code with a comment:

```python
a = 1  # initialization
```

Notar los dos espacios antes del comentario.

Documentación de las funciones

```python
def foo():
    """
    This is a function docstring
    You can also use:
    ''' Function Docstring '''
    """
```

# Funciones 

## La función `print()`

The `print()` function writes the value of the argument(s) it is given. [...] it handles multiple arguments, floating point-quantities, and strings. Strings are printed without quotes, and a space is inserted between items, so you can format things nicely:

```python
>>> print('Hello world!')
# Hello world!

>>> a = 1
>>> print('Hello world!', a)
# Hello world! 1
```

### The end keyword

The keyword argument `end` can be used to avoid the newline after the output, or end the output with a different string:

```python
phrase = ['printed', 'with', 'a', 'dash', 'in', 'between']
>>> for word in phrase:
...     print(word, end='-')
...
# printed-with-a-dash-in-between-
```

### The sep keyword

The keyword `sep` specify how to separate the objects, if there is more than one:

```python
print('cats', 'dogs', 'mice', sep=',')
# cats,dogs,mice
```

## The input() Function

This function takes the input from the user and converts it into a string:

```python
>>> print('What is your name?')   # ask for their name
>>> my_name = input()
>>> print('Hi, {}'.format(my_name))
# What is your name?
# Martha
# Hi, Martha
```

`input()` can also set a default message without using `print()`:

```python
>>> my_name = input('What is your name? ')  # default message
>>> print('Hi, {}'.format(my_name))
# What is your name? Martha
# Hi, Martha
```

## The len() Function

Evaluates to the integer value of the number of characters in a string, list, dictionary, etc.:

```python
>>> len('hello')
# 5

>>> len(['cat', 3, 'dog'])
# 3
```

<base-warning>
  <base-warning-title>Test of emptiness</base-warning-title>
  <base-warning-content>
    Test of emptiness of strings, lists, dictionaries, etc., should not use
    <code>len</code>, but prefer direct boolean evaluation.
  </base-warning-content>
</base-warning>

Test of emptiness example:

```python
>>> a = [1, 2, 3]

# bad
>>> if len(a) > 0:  # evaluates to True
...     print("the list is not empty!")
...
# the list is not empty!

# good
>>> if a: # evaluates to True
...     print("the list is not empty!")
...
# the list is not empty!
```

## The str(), int(), and float() Functions

These functions allow you to change the type of variable. For example, you can transform from an `integer` or `float` to a `string`:

```python
>>> str(29)
# '29'

>>> str(-3.14)
# '-3.14'
```

Or from a `string` to an `integer` or `float`:

```python
>>> int('11')
# 11

>>> float('3.14')
# 3.14
```

### Funciones propias



Una de las fortalezas de `Python` es que podemos crear funciones. En realidad, muchas de las funciones de `Python` son funciones de funciones.

Las funciones se inician con la sentencia `def` y siguen la siguiente estructura básica:

```python
def nombre_funcion(parametro1, parametro2, ...):
    """
    Descripción de lo que hace la función

    Parameters:
        parametro1 (clase_parametro1): Descripción del primer parámetro. 
        parametro2 (clase_parametro2): Descripción del segundo parámetro.

    Returns:
        output1 (clase_output): Descripción de lo que es el producto y qué valores puede tomar.
    """

    # Bloque de código
    
    return(resultado)
```

Por ejemplo, una función que suma dos números `a` y `b` la definimos de la siguiente manera:

In [2]:
def suma_dos_numeros(a, b):
    """
    Esta función toma dos números y entrega la suma de estos.

    Parameters:
        a (float): número a sumar.
        b (float): número a sumar.

    Returns:
        resultado (float): suma de a + b
    """
    
    resultado = a + b

    return(resultado)

In [3]:
suma_dos_numeros(2, 3)

5

Es importante documentar adecuadamente una función para que sea útil a otros usuarios. Así, otros usuarios interesados podrán acceder a la documentación de la función por medio del signo de interrogación (`?`).

In [4]:
?suma_dos_numeros

Signature: suma_dos_numeros(a, b)
Docstring:
Esta función toma dos números y entrega la suma de estos.

Parameters:
    a (float): número a sumar.
    b (float): número a sumar.

Returns:
    resultado (float): suma de a + b
File:      /var/folders/lp/bhbhb__n1_z91_rjfqljxcdc0000gn/T/ipykernel_5362/101591888.py
Type:      function

# Introducción a Pandas

`Pandas` es quizas la librería más famosa de `Python` para la manipulación de bases de datos. En Pandas existen tres tipos de estructuras: 

- Series: data en un arreglo 1D, etiquetada, homogénea e inmutable de tamaño.
- Data Frames: arreglo 2D, tamaño mutable, columnas heterogéneas, etiquetadas.
- Panel: arreglo 3D, tamaño mutable.

Para corroborar si `Pandas` está instalada escribimos `!pip show pandas`. Si la librería está instalada debería retornar un mensaje similar al que se ve a continuación.

In [5]:
!pip show pandas

Name: pandas
Version: 1.4.3
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author: The Pandas Development Team
Author-email: pandas-dev@python.org
License: BSD-3-Clause
Location: /Users/iggy/opt/anaconda3/lib/python3.9/site-packages
Requires: numpy, python-dateutil, pytz
Required-by: altair, ConTexto, datashader, geopandas, holoviews, hvplot, mapclassify, pandas-profiling, pca, phik, pyLDAvis, Quandl, seaborn, statsmodels, visions, xarray

En caso contrario es necesario instalarla con el comando `!pip install pandas`. El comando `pip` permite instalar cualquier libreria.

Una vez instalada es necesario llamar la libreria `Pandas` usando el comando `import`. Opcionalmente podemos declarar una abreviación para `Pandas`, la forma más usada es `pd`.

In [6]:
import pandas as pd

## Creación de Data Frames

`Dataframe` es una de las estructuras mas utilizadas en analisis de datos. Para ilustrar como generar y operar sobre estos, partamos de 4 listas:

In [7]:
nombres = ['Lucas', 'Juliana', 'Juan', 'Carla']
sexo = ['M', 'F', 'M', None]
edad = [23, 21, 25, 30]
notas = [4.5, 2, 3.25, 4]

Luego creamos un diccionario:

In [8]:
diccionario = {'names': nombres, 'sex': sexo, 'age': edad, 'grades': notas}
diccionario

{'names': ['Lucas', 'Juliana', 'Juan', 'Carla'],
 'sex': ['M', 'F', 'M', None],
 'age': [23, 21, 25, 30],
 'grades': [4.5, 2, 3.25, 4]}

Finalmente un `dataframe` con la función `DataFrame`:

In [9]:
data = pd.DataFrame(diccionario)
data

     names   sex  age  grades
0    Lucas     M   23    4.50
1  Juliana     F   21    2.00
2     Juan     M   25    3.25
3    Carla  None   30    4.00

 Este objeto tiene atributos a ,los que podemos acceder de la siguiente forma: el nombre de nuestra base, un punto (.), y el nombre del atributo que queremos visitar, es decir, `dataframe.atributo`. 

Los principales atributos de un `dataframe` son los siguientes:


- _info()_. Información básica del `dataframe`: número de observaciones, columnas, clases de cada columna, y cuántos valores completos tiene.

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   names   4 non-null      object
 1   sex     3 non-null      object
 2   age     4 non-null      int64
 3   grades  4 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 256.0+ bytes

- _index_. El índice es un identificador de las filas. Generalmente se numeran las filas de  0 a n - 1, sin embargo se pueden cambiar los índices para que sean una palabra o una sequencia de números, lo importante es que no se repitan los índices .

In [10]:
data.index

RangeIndex(start=0, stop=4, step=1)

- _columns_. Nombre de las columnas.

In [11]:
data.columns

Index(['names', 'sex', 'age', 'grades'], dtype='object')

- _shape_. Dimensiones del `dataframe` (filas, columnas).

In [ ]:
data.shape

(4, 4)

- _size_. Cantidad de datos (retorna el número total de elementos: el producto del número de filas por columnas).

In [ ]:
data.size

16

- _count_. Cantidad de datos **no** nulos.

In [ ]:
data.count

<bound method DataFrame.count of      names   sex  age  grades
0    Lucas     M   23    4.50
1  Juliana     F   21    2.00
2     Juan     M   25    3.25
3    Carla  None   30    4.00>

- _values_. Valores en el `dataframe`.

In [ ]:
data.values

array([['Lucas', 'M', 23, 4.5],
       ['Juliana', 'F', 21, 2.0],
       ['Juan', 'M', 25, 3.25],
       ['Carla', None, 30, 4.0]], dtype=object)

- _T_. Trasponer. Notemos que los índices del `dataframe` son los nombres de las columnas del `dataframe` sin trasponer.

In [ ]:
data.T

            0        1     2      3
names   Lucas  Juliana  Juan  Carla
sex         M        F     M   None
age        23       21    25     30
grades    4.5      2.0  3.25    4.0

- _dtypes_. Tipos de cada variable.

In [ ]:
data.dtypes

names      object
sex        object
age         int64
grades    float64
dtype: object

### Filtrar datos 

Existen diferentes métodos para filtrar `dataframes`.

Para filtrar utilizando el nombre que identifica a la fila o a la columna usamos  `.loc`.

Por ejemplo:

- Extraer la columna `names`.

In [ ]:
data.loc[:,'names']

0      Lucas
1    Juliana
2       Juan
3      Carla
Name: names, dtype: object

- Extraer las columnas `names` y `sex`.

In [ ]:
data.loc[:, ['names', 'sex']]

     names   sex
0    Lucas     M
1  Juliana     F
2     Juan     M
3    Carla  None

- Extraer columnas unicamente, obviando el comando `loc` y usando corchetes.

In [ ]:
data[['names', 'sex']]

     names   sex
0    Lucas     M
1  Juliana     F
2     Juan     M
3    Carla  None

Del mismo modo, para acceder a una columna y el nombre de esta no tiene espacios ni caracteres especiales, podemos acceder utilizando el comando `nombre_base.nombre_columna`.

In [ ]:
data.names

0      Lucas
1    Juliana
2       Juan
3      Carla
Name: names, dtype: object

Para acceder a la posición de la fila o la columna, usamos el método `iloc`. Es importante recordar que `Python` denota la primera posición con 0.

Por ejemplo:

- Extraer el primer elemento.

In [ ]:
data.iloc[:,0]

0      Lucas
1    Juliana
2       Juan
3      Carla
Name: names, dtype: object

- Extraer la tercera y cuarta fila del `dataframe`.

In [ ]:
data.iloc[2:4,]

   names   sex  age  grades
2   Juan     M   25    3.25
3  Carla  None   30    4.00

El comando `.loc` permite filtrar la base utilizando condicionales. Por ejemplo, para filtrar los individuos con `sex` igual a `F` podemos utilizar un condicional para marcar las filas: en donde hay un `F` con `True` y  donde no lo hay con `False`.

In [ ]:
filtro = data["sex"] == "F"
filtro

0    False
1     True
2    False
3    False
Name: sex, dtype: bool

In [ ]:
data.loc[filtro,]

     names sex  age  grades
1  Juliana   F   21     2.0

### Crear una columna

Para crear una nueva columna hacemos lo siguiente:
`nombre_base['nombre_columna'] = contenido_columna`.

In [ ]:
data['rescaled_grades'] = data.grades*100/5

##  Estadísticas Descriptivas

Para describir los datos de un `dataframe` se pueden utilizar distintas funciones contenidas en `Pandas`.

Algunos ejemplos son:

- _describe()_. Muestra estadísticas descriptivas básicas de las variables numéricas.

In [ ]:
data.describe()

            age    grades  rescaled_grades
count   4.00000  4.000000         4.000000
mean   24.75000  3.437500        68.750000
std     3.86221  1.087332        21.746647
min    21.00000  2.000000        40.000000
25%    22.50000  2.937500        58.750000
50%    24.00000  3.625000        72.500000
75%    26.25000  4.125000        82.500000
max    30.00000  4.500000        90.000000

- _sum()_. Suma.

In [ ]:
data.sum()

names              LucasJulianaJuanCarla
age                                   99
grades                             13.75
rescaled_grades                    275.0
dtype: object

- _min()_. Mínimo.

In [ ]:
data.min()

names              Carla
age                   21
grades               2.0
rescaled_grades     40.0
dtype: object

- _max()_. Máximo.

In [ ]:
data.max()

names              Lucas
age                   30
grades               4.5
rescaled_grades     90.0
dtype: object

- _idxmin()_. Índice de la posición del valor mínimo.

In [ ]:
data.age.idxmin()

1

- _idxmax()_. Índice de la posición del valor máximo.

In [ ]:
data.grades.idxmax()

0

- _mean()_. Media.

In [ ]:
data.mean()

age                24.7500
grades              3.4375
rescaled_grades    68.7500
dtype: float64

- _median()_. Mediana.

In [ ]:
data.median()

age                24.000
grades              3.625
rescaled_grades    72.500
dtype: float64

## Importar datos

Para cargar un archivo en formato csv usamos la función `pd.read_csv()`:

In [12]:
accidentes = pd.read_csv('https://github.com/ignaciomsarmiento/RecomSystemsLectures/blob/main/L01_Intro_Sistemas_Recomendac/Parte2/Data/info_accidentes.csv?raw=true')
accidentes.head()

,Fecha,GravedadNombre,ClaseNombre,ChoqueNombre,ObjetoFijoCodigo,ObjetoFijoNombre,OtraClase,NombreOtraClase,Latitud,Longitud,...,TipoVia2,NumeroVia2,LetraVia2,CardinalVia2,Localidad,HoraOcurrencia,TipoDiseño,TipoTiempo,TotalMuertos,TotalHeridos
0,01/13/2016 12:00:00 AM,Con Heridos,Choque,Vehiculo,,,,,0.0,0.0,...,CL,83.0,,,ENGATIVA,12/31/1899 10:30:00 PM,Interseccion,Normal,0,2
1,01-12-16 0:00,Con Heridos,Atropello,,,,,,0.0,0.0,...,KR,7.0,,,USAQUEN,12/31/1899 03:40:00 PM,Interseccion,Normal,0,1
2,01/13/2016 12:00:00 AM,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,...,KR,5.0,,E,SAN CRISTOBAL,12/31/1899 07:20:00 AM,Tramo de Via,Normal,0,0
3,01/17/2016 12:00:00 AM,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,...,KR,107.0,,,ENGATIVA,12/31/1899 06:10:00 AM,Tramo de Via,Normal,0,0
4,01/18/2016 12:00:00 AM,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,...,CL,48.0,,S,RAFAEL URIBE URIBE,12/31/1899 05:00:00 PM,Tramo de Via,Normal,0,0

La función `pd.read_csv` puede tomar multiples argumentos que ayudan en la lectura de los archivos. Para conocer estos argumentos y sus detalles utilizamos la función `ayuda` denotada por el signo de interrogación `?`.

In [ ]:
?pd.read_csv

Para cargar un archivo de Excel usamos la función `pd.read_excel()`

In [ ]:
accidentes2 = pd.read_excel('https://github.com/ignaciomsarmiento/RecomSystemsLectures/blob/main/L01_Intro_Sistemas_Recomendac/Parte2/Data/info_accidentes.xlsx?raw=true')
accidentes2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34931 entries, 0 to 34930
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Fecha             34931 non-null  object
 1   GravedadNombre    34931 non-null  object
 2   ClaseNombre       34931 non-null  object
 3   ChoqueNombre      34931 non-null  object
 4   ObjetoFijoCodigo  34931 non-null  object
 5   ObjetoFijoNombre  34931 non-null  object
 6   OtraClase         34931 non-null  object
 7   NombreOtraClase   34931 non-null  object
 8   Latitud           34931 non-null  float64
 9   Longitud          34931 non-null  float64
 10  Direccion         34931 non-null  object
 11  TipoVia1          34931 non-null  object
 12  NumeroVia1        34931 non-null  object
 13  LetraVia1         34931 non-null  object
 14  CardinalVia1      34931 non-null  object
 15  TipoVia2          34931 non-null  object
 16  NumeroVia2        34625 non-null  float64
 17  LetraVia2         34931 non-null  object
 18  CardinalVia2      34931 non-null  object
 19  Localidad         34931 non-null  object
 20  HoraOcurrencia    34931 non-null  object
 21  TipoDiseño        34931 non-null  object
 22  TipoTiempo        34931 non-null  object
 23  TotalMuertos      34931 non-null  int64
 24  TotalHeridos      34931 non-null  int64
dtypes: float64(3), int64(2), object(20)
memory usage: 6.7+ MB

# Recomendadores basados en conocimiento

Los recomendadores basados en  conocimiento utilizan principalmente artículos que rara vez se usan o compran. Si los artículos son raramente comprados es muy difícil tener información previa a partir de la cuál de ellos se puede generar una recomendación. La venta de bienes raíces es un ejemplo de esto. La compra de una casa suele ser a menudo una compra de una vez en la vida, no se tiene por lo tanto información adicional para generar recomendaciones.

En casos como este, el sistema de recomendación funciona similar a lo que haría un ser humano. Le pregunta al usuario sobre preferencias y detalles; y a partir de estos, genera recomendaciones. Volviendo al ejemplo anterior, el sistema podría preguntar sobre qué tipo de propiedad prefiere, qué barrios, cuál es su presupuesto, etc.; y a partir de estos ofrecer una recomendación.

## Primera aproximación en `Python`


En este *cuaderno*, obtuvimos una visión general del mundo de los sistemas de recomendación y un resumen de  distintos tipos de recomendadores. Sin embargo, antes de terminarlo implementaremos dos sistemas de recomendación: uno simple y otro basado en conocimiento. Estos ilustrarán de manera sencilla como funcionan los sistemas en la práctica y nos permitirán tener una mejor base para cuando busquemos aboradar sistemas más complejos en *cuadernos* futuros. 

###  Implementaciones en  `Python`

Para ilustrar el funcionamiento de estos recomendadores simples vamos a utilizar una versión simplificada y traducida de la base de datos de películas: [MovieLens](https://grouplens.org/datasets/movielens/latest/) provista abiertamente por [grouplens](https://grouplens.org/about/what-is-grouplens/) para: **"avanzar la teoría y la práctica de la computación social mediante la construcción y la comprensión de sistemas *(de recomendación)* utilizados por personas reales".**

Carguemos entonces las librerías y los datos:

In [ ]:
# Cargamos las librerías a utilizar
import pandas as pd
import numpy as np

# Cargamos y visualizamos las primeras filas de los datos
df = pd.read_csv('data/metadata_limpia.csv')
df.head()

,Unnamed: 0,titulo,duracion,voto_promedio,numero_votos,ano,genero
0,1,Toy Story,81,7.7,5415,1995,animacion
1,2,Toy Story,81,7.7,5415,1995,comedia
2,3,Jumanji,104,6.9,2413,1995,adventura
3,4,Jumanji,104,6.9,2413,1995,fantasia
4,5,Grumpier Old Men,101,6.5,92,1995,romance

La base contiene el título, la duración (en minutos), el voto promedio y el número de votos que obtuvo, el año de estreno, y el género. Note que si una película tiene más de un género aparece repetida. Por ejemplo, Toy Story, aparece bajo el género de animación y de comedia.

Para esta aplicación omitiremos el género y por lo tanto nos quedaremos con sólo una entrada por película (los invito a que prueben si los resultados cambian o no al no omitir las entradas repetidas):

In [ ]:
df_nodup = df.drop_duplicates(subset ="titulo")
df_nodup

,Unnamed: 0,titulo,duracion,voto_promedio,numero_votos,ano,genero
0,1,Toy Story,81,7.7,5415,1995,animacion
2,3,Jumanji,104,6.9,2413,1995,adventura
4,5,Grumpier Old Men,101,6.5,92,1995,romance
6,7,Waiting to Exhale,127,6.1,34,1995,comedia
9,10,Father of the Bride Part II,106,5.7,173,1995,comedia
...,...,...,...,...,...,...,...
64928,64929,Deep Hearts,58,0.0,0,1981,documental
64933,64934,Shadow of the Blair Witch,45,7.0,2,2000,misterio
64935,64936,The Burkittsville 7,30,7.0,1,2000,terror
64936,64937,Caged Heat 3000,85,3.5,1,1995,ciencia ficcion
64940,64941,Century of Birthing,360,9.0,3,2011,drama

La columna `voto_promedio` es el promedio de votos que dieron los usuarios a la película. Este voto toma valores  entre 1 y 10, siendo 10 el voto más alto. La columna `numero_votos` es el número de votos que recibió la película. Este sirve también como una proxy de cuanta gente vió la película.

Estamos ahora en condiciones de construir nuestro primer recomendador simple.

#### Un recomendador simple 

Para construir nuestro primer recomendador simple vamos a seguir los siguientes pasos: 

   1. Decidir cuáles son los atributos deseados de la película que queremos recomendar. Esto nos va a permitir reducir el espacio de candidatos potenciales.
   2. Elegir una métrica que nos permita calificar y rankear las películas y calcularla para nuestro subconjunto.
   3. Recomendar películas basadas en esta métrica en orden decreciente de sus puntajes.


La parte crucial de este recomendador es el segundo punto. Generar una métrica que nos permita ordenar las películas. La elección de esta es arbitraria, sin embargo es deseable que esta métrica sea robusta. Por ejemplo, podríamos usar el voto promedio. Sin embargo, sabemos que la media no es una medida robusta. Para illustrarlo, imaginemos que tenemos una película con calificación promedio de 9 por 100.000 usuarios, esta se colocará debajo de una película con una calificación promedio de 9,5 por 100 usuarios. Esto no es deseable, ya que es muy probable que una película vista y calificada sólo por 100 personas atienda a un nicho muy específico y puede que no atraiga tanto al individuo promedio como la primera. Otra de las desventajas de la media es que no es robusta a la micronumerosidad, es decir, que tenga pocos votos. A medida que el número de votos aumente, es probable que este se acerque al verdadero valor poblacional. Es decir, una película calificada con 10/10 por cinco usuarios no significa necesariamente que sea una buena película.

Por lo tanto, necesitamos una métrica que pueda sobreponerse a estas falencias, de forma tal que, por ejemplo, rankee una película de gran éxito con una calificación de 8 por 100.000 usuarios sobre una película con una calificación de 9 por 100 usuarios.

En este *cuaderno* vamos a utilizar la métrica propuesta por [IMDB](https://www.imdb.com/chart/top/?ref_=nv_mv_250) para rankear las mejores 250 películas. Esta métrica sigue la siguiente fórmula:

$$
Score = \left( \frac{v}{v+m}\times R + \frac{v}{v+m}\times C \right)
$$


donde: 

   - $v$ es el número de votos.
   - $m$ es el mínimo número de votos que tiene que haber recibido una pelicula para que figure en el ranking.
   - $R$ es el voto promedio de la película
   - $C$ es el voto promedio de *todas* la peliculas en la base.
    
##### Creando el recomendador

Tenemos entonces todos los ingredientes para crear nuestro recomendador. Comencemos calculando el $Score$. Notemos que tiene como parámetro $m$. En nuestra aplicación lo fijaremos en el percentil 95 (los invito a que lo cambien y prueben cómo cambian las recomendaciones). 

Calculamos entonces el parámetro $m$:

In [3]:
m = df_nodup['numero_votos'].quantile(0.95)
m

590.0

Con esto podemos ver  cuáles son las que superaron el mínimo número de votos que tiene que haber recibido una película para que figure en el ranking:

In [4]:
q_movies = df_nodup[df_nodup['numero_votos'] >= m]

q_movies.head()

,Unnamed: 0,titulo,duracion,voto_promedio,numero_votos,ano,genero
0,1,Toy Story,81,7.7,5415,1995,animacion
2,3,Jumanji,104,6.9,2413,1995,adventura
10,11,Heat,170,7.7,1886,1995,accion
21,22,GoldenEye,130,6.6,1194,1995,adventura
34,35,Casino,178,7.8,1343,1995,drama

In [5]:
q_movies.shape

(1627, 7)

Vemos que nos quedamos con aproximadamente el 10%, como esperábamos. Calculemos  $C$, la calificación promedio de todas las películas en el conjunto de datos:

In [6]:
C = df_nodup['voto_promedio'].mean()
C

5.725672018207382

Con esto podemos calcular entonces nuestro $Score# para cada película. Para ello crearemos una función:

In [7]:
def calc_score(x, m=m, C=C):
    v = x['numero_votos']
    R = x['voto_promedio']
    # Calcular el score
    return (v/(v+m) * R) + (m/(m+v) * C)

Y aplicaremos la función, indicando que la operación es por filas (`axis=1`):

In [8]:
q_movies['score'] = q_movies.apply(calc_score, axis=1)

/var/folders/lp/bhbhb__n1_z91_rjfqljxcdc0000gn/T/ipykernel_37866/848572970.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  q_movies['score'] = q_movies.apply(calc_score, axis=1)

El último paso para recomendar las películas es ordenarlas y mostrarlas al usuario:

In [9]:
# Ordenamos
q_movies = q_movies.sort_values('score', ascending=False)

# Mostramos el top 10
q_movies.head(10)

,Unnamed: 0,titulo,duracion,voto_promedio,numero_votos,ano,genero,score
644,645,The Shawshank Redemption,142,8.5,8358,1994,drama,8.317070
1682,1683,The Godfather,175,8.5,6024,1972,drama,8.252517
20733,20734,The Dark Knight,152,8.3,12269,2008,drama,8.181884
5158,5159,Fight Club,139,8.3,9678,1999,drama,8.152079
603,604,Pulp Fiction,154,8.3,8670,1994,suspenso,8.135977
727,728,Forrest Gump,142,8.2,8147,1994,comedia,8.032911
25272,25273,Inception,148,8.1,14075,2010,accion,8.004476
1093,1094,Schindler's List,195,8.3,4436,1993,drama,7.997801
36397,36398,Whiplash,105,8.3,4376,2014,drama,7.994150
35323,35324,Interstellar,169,8.1,11187,2014,adventura,7.981052

Notemos que nuestra recomendaciónseñala el mismo top 3 que IMDB (*$^*$imagen tomada el 28 de Abril de 2022)*:

<div  style="max-width: 60%;">
<img src = "figs/IMDB.png"/>
</div>

En el top figura [The Shawshank Redemption](https://es.wikipedia.org/wiki/The_Shawshank_Redemption) que fue estrenada como "Sueño de fuga" en Hispanoamérica y como "Sueños de libertad" o "Escape a la libertad" en Argentina.

Nuestro simple recomendador genera recomendaciones sencillas pero no muy personalizadas. Veamos entonces otro sistema que nos permita recomendar sugerencias más personalizadas.

### Un  recomendador basado en conocimiento

Construyamos entonces ahora un recomendador que incorpore preferencias de los usuarios. Para ello seguimos utilizando la bsase anterior y lo que el recomendadro hará es:

1. Preguntar al usuario por el género de película que está buscando.
2. Preguntar al usuario por la duración.
3. Preguntar al usuario por el rango de año de estreno de la película.
4. Con esta información recomendará la película con el $Score$ más alto.

Veamos entonces cuáles son los géneros disponibles:

In [10]:
df['genero'].value_counts()

drama              15909
comedia            10752
suspenso            6718
accion              5634
romance             5003
terror              4098
documental          3659
adventura           2727
ciencia ficcion     2612
fantasia            1924
misterio            1919
animacion           1710
musical             1121
guerra               760
western              398
Name: genero, dtype: int64

y los años disponibles:

In [11]:
df['ano'].value_counts()

2015    3244
2014    3236
2013    2994
2009    2976
2011    2861
2010    2705
2016    2669
2008    2666
2012    2663
2007    2377
2006    2348
2005    2030
2004    1821
2002    1717
2003    1626
2001    1593
2000    1442
1998    1297
1999    1289
1997    1205
1996    1156
1995    1095
1994    1005
2017     956
1993     937
1988     899
1987     849
1989     841
1992     837
1990     807
1991     802
1985     712
1986     694
1984     684
1983     664
1982     657
1981     647
1980     645
1972     628
1971     621
1973     621
1974     583
1979     578
1977     572
1978     568
1975     566
1976     546
2018      11
2020       4
Name: ano, dtype: int64

Construyamos entonces una función que nos pregunte por nuestras preferencias y que nos genere las recomendaciones. En otras palabras, estos son los tres pasos principales de la función:

   1. Obtener información del usuario sobre sus preferencias.
   2. Filtrar las películas que coincidan con las condiciones establecidas por el usuario.
   3. Calcular los valores de m y C.
   4. Retornar las sugerencias.

Llamaremos a la función `recomendador` y tendrá 2 parámetros: la base de datos sobre la que construye la recomendaciones y el percentil ($m$). Utilizaremos por ahora el mismo $m=.95$ del ejemplo anterior:

In [12]:
def recomendador(db, percentile=0.95):
    # Preguntar por los géneros preferidos
    print("Hola este es tu sistema de recomendación")
    print("Te voy a hacer unas preguntas para generar sugerencias")
    print("¿Qué género de película querés ver?")
    genre = input()
    
    # Preguntar por la duración mínima de la película
    print("¿Cuál es la duración mínima que querés? (en minutos)")
    low_time = int(input())
    
    # Preguntar por la duración máxima de la película
    print("¿Cuál es la duración máxima que querés? (en minutos)")
    high_time = int(input())

        # Preguntar por el rango de los años en que la película fue estrenada
    print("Ahora te voy a preguntar por el rango de años de estreno de la película")

    print("¿Cuál es el año de estreno más viejo que querés ver? ")
    low_year = int(input())
    
    print("¿Cuál es el año de estreno más nuevo que querés ver? ")
    high_year = int(input())
    

    # Definimos una nueva variable que va a guardar las películas preferidas, para ello copiamos los contenidos de la bas
    movies = db.copy()
    
    # Filtramos basado en las respuestas
    movies = movies[(movies['genero'] == genre) & 
                    (movies['duracion'] >= low_time) & 
                    (movies['duracion'] <= high_time) & 
                    (movies['ano'] >= low_year) & 
                    (movies['ano'] <= high_year)]
    
    # Calculamos los valores de C y m
    C = movies['voto_promedio'].mean()
    m = movies['numero_votos'].quantile(percentile)
    

    # Consideramos sólo películas que tienen más de m votos, y las guardamos en un data.frame
    q_movies = movies.copy().loc[movies['numero_votos'] >= m]
    
    # Calculamos el score usando la  formula de IMDB
    q_movies['score'] = q_movies.apply(lambda x: (x['numero_votos']/(x['numero_votos']+m) * x['voto_promedio']) 
                                       + (m/(m+x['numero_votos']) * C)
                                       ,axis=1)

    # Ordenamos las películas en orden descendiente de su score
    q_movies = q_movies.sort_values('score', ascending=False)
    
    return q_movies

Utilicemos entonces esta función para generar recomendaciones de películas de drama de entre media y 2 horas de duración que fueron estrenadas entre 1990 y 2005:

In [13]:
recomendador(df).head()

Hola este es tu sistema de recomendación
Te voy a hacer unas preguntas para generar sugerencias
¿Qué género de película querés ver?
drama
¿Cuál es la duración mínima que querés? (en minutos)
30
¿Cuál es la duración máxima que querés? (en minutos)
120
Ahora te voy a preguntar por el rango de años de estreno de la película
¿Cuál es el año de estreno más viejo que querés ver?
1990
¿Cuál es el año de estreno más nuevo que querés ver?
2005

,Unnamed: 0,titulo,duracion,voto_promedio,numero_votos,ano,genero,score
3992,3993,Life Is Beautiful,116,8.3,3643,1997,drama,8.109381
596,597,Leon: The Professional,110,8.2,4293,1994,drama,8.042907
4003,4004,American History X,119,8.2,3120,1998,drama,7.989047
1240,1241,The Silence of the Lambs,119,8.1,4549,1991,drama,7.957410
105,106,The Usual Suspects,106,8.1,3334,1995,drama,7.909752

Vemos que las películas retornadas por la función satisfacen todas las condiciones que ingresamos. Notemos también que dado que usamos la métrica definida por IMDB, las sugerencias son películas con altos votos promedio y también con muchos votos (películas populares). Note también que estas recomendaciones incluyen *American History X*, que es una de mis películas favoritas. Por mi parte, estaría muy satisfecho con estas sugerencias.

# Referencias

- Banik, R. (2018). Hands-on recommendation systems with Python: start building powerful and personalized, recommendation engines with Python. Packt Publishing Ltd.

- Covington, P., Adams, J., & Sargin, E. (2016). Deep Neural Networks for YouTube recommendations. Proceedings of the 10th ACM Conference on Recommender Systems. https://doi.org/10.1145/2959100.2959190 

- Google developers. (n.d.). Recommendation systems. Google. Consultado en Abril 3, 2022, de https://developers.google.com/machine-learning/recommendation/overview