<div >
<img src = "../../banner.png" />
</div>

# Introducción a Python

   Este *cuaderno* es un breve tutorial sobre las funciones y librerías básicas de `Python` que el lector va a necesitar para el desarrollo de buena parte de las actividades de este curso.

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/ignaciomsarmiento/RecomSystemsLectures/blob/main/L01_Intro_Sistemas_Recomendac/Parte2/L01_2_Introduccion_Python.ipynb)

## Que es Python?

<center>
    <img width="50%" src="https://www.python.org/static/community_logos/python-logo-generic.svg">
</center>


`Python` es un lenguaje de programación de alto nivel, interpretado, orientado a objetos y de propósito general. Fue creado en la década de 1990 por Guido van Rossum y se ha convertido en uno de los lenguajes de programación más populares del mundo.

`Python` es conocido por su sintaxis clara y legible, lo que lo hace muy fácil de aprender para los principiantes en programación. Además, es altamente modular y escalable, lo que lo convierte en una excelente opción para proyectos de cualquier tamaño y complejidad.

`Python` es utilizado en una variedad de aplicaciones, desde la creación de páginas web hasta el análisis de datos y el aprendizaje automático. Es también utilizado en el desarrollo de juegos, aplicaciones móviles, sistemas embebidos y mucho más.

## Operaciones básicas

Para comenzar, podemos usar `Python` para casi cualquier cosa de desarrollo computacional, desde operaciones algebraicas básicas hasta programas complejos.

Los operadores algebraicos básicos son:

- Suma (`+`).

In [1]:
print(5 + 5)

10

- Resta (`-`).

In [2]:
print(5 - 5)

0

- Multiplicación (`*`).

In [3]:
print(3 * 5)

15

- División (`/`).

In [4]:
print(10 / 3)

3.3333333333333335

- División entera (`//`).

In [5]:
print(10 // 3)

3

- Módulo (`%`).

In [6]:
print(18 % 7)

4

- Potencia (`**`).

In [7]:
print(4 ** 2)

16

## Variables
## Variables

Podemos pensar que una variable es como un contenedor de información. `Python` puede albergar distintos tipos de datos, como valores numéricos, _booleanos_ y cadenas de texto. Al ser `Python` de tipado dinámico, no hace falta declarar el tipo de variable, sino que sólo basta con definir sus valores.

Comenzando con variables numéricas, `Python` tiene números enteros, números de punto flotante y números complejos. También cuenta con cadenas de caracteres para definir palabras y otro tipo de variables llamadas _booleanas_ para almacenar variables binarias.

La manera en la que definimos variables es como sigue:

```python
nombre_de_variable = <value>
```

El nombre de la variable no puede contener espacios, debe comenzar con una letra, y puede contener letras mayúsculas o números en el nombre.

#### Ejemplo:

```python
mi_perrito = "Mirlo"
```

Para obener el tipo de una variable, podemos utilizar la función `type()` y pasarle como argumento la variable sobre la cual queremos conocer el nombre.

#### Ejemplo:

```python
type(mi_perrito)
```

Para definir variables en `Python` utilizamos el símbolo  de igual (`=`). Como buena práctica de programación, cuando definimos un nombre, utilizamos guion bajo (`_`) para separar las palabras. **Nunca usamos un punto**. Adicionalmente, es recomendable no usar caracteres especiales como tildes o ñ en los nombres de los objetos que definamos.

A continuación creamos 4 variables:

- A la primer variable la llamaremos `refran` y contendrá un texto alusivo a un refrán. Todos los textos deben estar entre comillas para que `Python` sepa que son textos.

In [8]:
refran = "Al que madruga le da sueño por la tarde"

- La segunda variable la llamaremos `x` y será un número entero.

In [9]:
x = 3

- La tercera variable la llamaremos  `pi` y será una aproximación al número $\pi$.

In [10]:
pi = 3.1416

- La cuarta variable la llamaremos `condicion` y tomará el valor de vardadero (`True`).

In [11]:
condicion = True

Tengamos en cuenta que cada variable tiene un color diferente. El color está asociado al **tipo**: texto (*string*), número (*int* o *float*), o booleana (*bool*). Para verificar el tipo de una variable escribimos: `type(nombre_de_la_variable)`.

In [12]:
type(refran)

str

In [13]:
type(x)

int

In [14]:
type(pi)

float

In [15]:
type(condicion)

bool

Es importante que conozcamos la clase de los objetos con los que trabajamos. Dependiendo de la misma, las operaciones y funciones a implementar cambian su resultado. Comparemos los resultados de las siguientes operaciones:

- Sumar dos números: un número entero (`int`) y un número flotante (`float`).

In [16]:
x + pi

6.1416

- Combinar números y un booleano.  `Python` interpreta `condicion` como si fuera 1, debido a que `True` es una palabra clave y siempre es igual a `1`. Por el contrario, `False` es siempre igual a `0`. (Cambie en la celda el valor de `condicion` a `False` y compare los resultados).

In [17]:
pi - 2*condicion

1.1416

- Negar el booleano.

In [18]:
not condicion

False

- Concatenar texto.

In [19]:
refran + refran

'Al que madruga le da sueño por la tardeAl que madruga le da sueño por la tarde'

- Agregar un espacio en blanco y repetir 5 veces la variable `refran`.

In [20]:
(refran + " ")* 5

'Al que madruga le da sueño por la tarde Al que madruga le da sueño por la tarde Al que madruga le da sueño por la tarde Al que madruga le da sueño por la tarde Al que madruga le da sueño por la tarde '

## Listas

Las listas son una forma de almacenar una secuencia de objetos. Una lista puede contener objetos de diferentes tipos e incluso puede contener otras listas. La forma más fácil de construir una lista es con dos corchetes (`[]`) y separando los elementos con una coma (`["a", "b"]`).

A modo de ejemplo, creemos 4 listas:

In [21]:
beatles = ["John", "Paul", "George", "Ringo"]
print(beatles)
print(type(beatles))

['John', 'Paul', 'George', 'Ringo']
<class 'list'>

In [22]:
notas_taller1 = [4.2, 3.8, 4.5, 2, 5]
print(notas_taller1)

[4.2, 3.8, 4.5, 2, 5]

In [23]:
random_list = ['mytext', 3.0, 7, [10, 20]]
print(random_list)

['mytext', 3.0, 7, [10, 20]]

In [24]:
lista_vacia = []
print(lista_vacia)

[]

Cada elemento de una lista se encuentra en una posición. En `Python` se le conoce como *index* y **la primera posición es el 0**, la segunda es el 1 y así sucesivamente hasta llegar a la última posición que es **$n - 1$**.

Con las listas, al igual que en las variables, podemos hacer diferentes operaciones. Veamos como podemos acceder y extraer elementos de las listas:

- Acceder al primer elemento

In [25]:
print(beatles[0])

John

- Acceder el segundo elemento.

In [26]:
print(beatles[1])

Paul

- Acceder al último elemento (tenga en cuenta que es -1 y no -0).

In [27]:
print(beatles[-1])

Ringo

- Acceder al n-ésimo - 1 elemento.

In [28]:
print(beatles[-2])

George

Si queremos acceder o extraer más de un elemento, podemos usar los siguientes atajos. Debemos tener en cuenta que los corchetes en `Python` son inclusivos por la izquierda, pero exclusivos por la derecha. 

Para ello, creemos una nueva lista:

In [29]:
example = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

- Extraer los primeros 5 elementos.

In [30]:
print(example[0:5])

[1, 2, 3, 4, 5]

- De los primeros 5 elementos, extraer los últimos 4.

In [31]:
print(example[1:5])

[2, 3, 4, 5]

- Extraer el tercer elemento, sin incluir el cuarto.

In [32]:
print(example[2:3])

[3]

- Extraer desde el primero al tercer elemento. Notemos que es excluyente a la derecha.

In [33]:
print(example[:3])

[1, 2, 3]

- Extraer desde el cuarto elemento hasta el final de la lista. Notemos que es incluyente a la izquierda.

In [34]:
print(example[3:])

[4, 5, 6, 7, 8, 9, 10]

- Extraer de 2 en dos desde el elemento 1 hasta el elemento 10. Sintaxis: `nombre_lista[indice_inicial:indice_final:tamaño_paso]`.

In [35]:
print(example[0:9:2])

[1, 3, 5, 7, 9]

- Extraer toda la lista de 2 en 2.

In [36]:
print(example[::2])

[1, 3, 5, 7, 9]

- Invertir el orden de la lista.

In [37]:
print(example[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

- Modificar la lista.

In [38]:
example[0] = "Hola" 
print(example)

['Hola', 2, 3, 4, 5, 6, 7, 8, 9, 10]

### tuplas

Las `tuplas` son un conjunto ordenado e inmutable de elementos del mismo o diferente tipo. Las tuplas se escriben entre paréntesis  y separadas por comas.

In [39]:
tupla1= (2, "Darth Vader", 3.1415)
tupla1

(2, 'Darth Vader', 3.1415)

In [40]:
tupla_vacia = ()
tupla_vacia

()

## Condiciones

`Python` soporta distintos tipos de condiciones que retornan valores de verdadero (`True`) o falso (`False`) dependiendo si se cumplen o no. Estas condiciones son útiles para controlar el flujo del código.

- Igual (`==`)

In [41]:
x = 2
condicion1 = x == 2 
condicion1

True

- No es igual (`!=`)

In [42]:
condicion2 = x == 3 
condicion2

False

- Menor que y Menor o igual que (`<` y `<=`)

In [43]:
condicion3 = x < 3
condicion3

True

- Mayor que y Mayor o igual que (`>` y `>=`)

In [44]:
condicion4 = x>5
condicion4

False

- y (`and`, `&`)

In [45]:
condicion1 and condicion2 # V & F -> F

False

In [46]:
condicion2 and condicion1 # F & V -> F

False

- o (`or`, `|`)

In [47]:
condicion1 or condicion2 # V | F -> V

True

In [48]:
condicion2 or condicion1 # F | V -> V

True

- Negación (`not`, `~`)

In [49]:
not condicion2

True

### Sentencias `if`, `else` y `elif`

Para controlar el flujo (*control flows*) de un programa podemos utilizar las funciones `if`, `else` y `elif`, junto con las condiciones que describimos anteriormente. Por ejemplo:

```
if condicion1:
    # Si la condición es verdadera (True) se ejecuta esta porción de código
    print("condicion1 es verdadera")
elif condicion2:
    # Si la condición 1 es falsa (False) y la condición 2 es verdadera (True), se ejecuta esta porción
    print("condicion1 es falsa y la condicion2 es verdadera")
else:
    # Si la condición 1 y 2 son falsas, se ejecuta esta porción
    print("condicion1 y la condicion2 son falsas")
```

Notemos que luego de la condición sólo debemos incluir el símbolo de dos puntos (`:`) y el código debajo e indentado por 4 espacios (un tab).

Algunos ejemplos:

In [50]:
lado_oscuro = "Anakin Skywalker"
hijo = "Luke Skywalker"

if lado_oscuro == "Anakin Skywalker": 
    print("Darth Vader")

if lado_oscuro == hijo:
    print("Luke, no te rindas al odio. Eso lleva al lado oscuro")

Darth Vader

In [51]:
if lado_oscuro == hijo:
    print("Luke, no te rindas al odio. Eso lleva al lado oscuro")
else: 
    print(lado_oscuro + " es el padre de " + hijo)

Anakin Skywalker es el padre de Luke Skywalker

In [52]:
padre = lado_oscuro

if lado_oscuro == hijo:
    print("Luke, no te rindas al odio. Eso lleva al lado oscuro")
elif padre == "Anakin Skywalker":
    print("Yo soy tu padre!")
else: 
    print(lado_oscuro + " es el padre de " + hijo)

Yo soy tu padre!

### Bucles (Loops)

Un bucle (loop) es una estructura de control que repite una porción de codigo un número prederminado de veces.  Existen dos tipos de bucles:

- *for loops* en donde se itera sobre una lista de elementos.
- *while loops* en donde se itera mientras que cierta condición se cumple.

Algunos ejemplos:

- Iterar sobre los números del 0 al 4.

In [53]:
for x in range(0, 5):
    print(x)

0
1
2
3
4

- Iterar sobre los números del 3 al 7 de dos en dos.

In [54]:
for x in range(3, 8, 2):
    print(x)

3
5
7

- Iterar sobre texto (string).

In [55]:
for x in "Python":
   print(x)

P
y
t
h
o
n

- Agregar un freno (`break`), detiene la iteración.

In [56]:
mago = ["Harry", "Hermione", "Ron", "Voldemort", "Dumbledore"]
for x in mago:
    if x == "Voldemort":
        break #detiene la iteración
    print(x)

Harry
Hermione
Ron

- Detener la iteración y continuar con la siguiente.

In [57]:
for x in mago:
    if x == "Voldemort":
        continue # continue con la siguiente
    print(x)

Harry
Hermione
Ron
Dumbledore

- Iterar hasta que `x` sea menor al valor 5.

In [58]:
x = 1
while x < 5: 
    print(x)
    x += 1

1
2
3
4

#### Bucles (loops) de una sola línea

Los bucles o *loops* de una sola línea típicamente se usan para definir listas de una manera exhaustiva a partir de un iterable (características en común, operaciones sobre el iterable, etc). 

Por ejemplo:

 - Una lista cuyos elementos son las letras de la palabra **tiburon**.

In [59]:
lista_tiburon = [letra for letra in 'tiburon']
lista_tiburon

['t', 'i', 'b', 'u', 'r', 'o', 'n']

- Una lista con los cuadrados de los números múltiplos de 3 menores a 30.

In [60]:
lista_numeros = [x**2 for x in range(30) if x%3==0]
lista_numeros

[0, 9, 36, 81, 144, 225, 324, 441, 576, 729]

## Funciones



Una de las fortalezas de `Python` es que podemos crear funciones. En realidad, muchas de las funciones de `Python` son funciones de funciones.

Las funciones se inician con la sentencia `def` y siguen la siguiente estructura básica:

```python
def nombre_funcion(parametro1, parametro2, ...):
    """
    Descripción de lo que hace la función

    Parameters:
        parametro1 (clase_parametro1): Descripción del primer parámetro. 
        parametro2 (clase_parametro2): Descripción del segundo parámetro.

    Returns:
        output1 (clase_output): Descripción de lo que es el producto y qué valores puede tomar.
    """

    # Bloque de código
    
    return(resultado)
```

Por ejemplo, una función que suma dos números `a` y `b` la definimos de la siguiente manera:

In [61]:
def suma_dos_numeros(a, b):
    """
    Esta función toma dos números y entrega la suma de estos.

    Parameters:
        a (float): número a sumar.
        b (float): número a sumar.

    Returns:
        resultado (float): suma de a + b
    """
    
    resultado = a + b

    return(resultado)

In [62]:
suma_dos_numeros(2, 3)

5

Es importante documentar adecuadamente una función para que sea útil a otros usuarios. Así, otros usuarios interesados podrán acceder a la documentación de la función por medio del signo de interrogación (`?`).

In [63]:
?suma_dos_numeros

# Introducción a Pandas

`Pandas` es quizas la librería más famosa de `Python` para la manipulación de bases de datos. En Pandas existen tres tipos de estructuras: 

- Series: data en un arreglo 1D, etiquetada, homogénea e inmutable de tamaño.
- Data Frames: arreglo 2D, tamaño mutable, columnas heterogéneas, etiquetadas.
- Panel: arreglo 3D, tamaño mutable.

Para corroborar si `Pandas` está instalada escribimos `!pip show pandas`. Si la librería está instalada debería retornar un mensaje similar al que se ve a continuación.

In [64]:
!pip show pandas

Name: pandas
Version: 1.3.5
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author: The Pandas Development Team
Author-email: pandas-dev@python.org
License: BSD-3-Clause
Location: /opt/conda/lib/python3.7/site-packages
Requires: numpy, python-dateutil, pytz
Required-by: geopandas, pyLDAvis, seaborn, statsmodels, vincent

En caso contrario es necesario instalarla con el comando `!pip install pandas`. El comando `pip` permite instalar cualquier libreria.

Una vez instalada es necesario llamar la libreria `Pandas` usando el comando `import`. Opcionalmente podemos declarar una abreviación para `Pandas`, la forma más usada es `pd`.

In [65]:
import pandas as pd

## Creación de Data Frames

`Dataframe` es una de las estructuras mas utilizadas en analisis de datos. Para ilustrar como generar y operar sobre estos, partamos de 4 listas:

In [66]:
nombres = ['Lucas', 'Juliana', 'Juan', 'Carla']
sexo = ['M', 'F', 'M', None]
edad = [23, 21, 25, 30]
notas = [4.5, 2, 3.25, 4]

Luego creamos un diccionario:

In [67]:
diccionario = {'names': nombres, 'sex': sexo, 'age': edad, 'grades': notas}
diccionario

{'names': ['Lucas', 'Juliana', 'Juan', 'Carla'],
 'sex': ['M', 'F', 'M', None],
 'age': [23, 21, 25, 30],
 'grades': [4.5, 2, 3.25, 4]}

Finalmente un `dataframe` con la función `DataFrame`:

In [68]:
data = pd.DataFrame(diccionario)
data

     names   sex  age  grades
0    Lucas     M   23    4.50
1  Juliana     F   21    2.00
2     Juan     M   25    3.25
3    Carla  None   30    4.00

 Este objeto tiene atributos a ,los que podemos acceder de la siguiente forma: el nombre de nuestra base, un punto (.), y el nombre del atributo que queremos visitar, es decir, `dataframe.atributo`. 

Los principales atributos de un `dataframe` son los siguientes:


- _info()_. Información básica del `dataframe`: número de observaciones, columnas, clases de cada columna, y cuántos valores completos tiene.

In [69]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   names   4 non-null      object
 1   sex     3 non-null      object
 2   age     4 non-null      int64
 3   grades  4 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 256.0+ bytes

- _index_. El índice es un identificador de las filas. Generalmente se numeran las filas de  0 a n - 1, sin embargo se pueden cambiar los índices para que sean una palabra o una sequencia de números, lo importante es que no se repitan los índices .

In [70]:
data.index

RangeIndex(start=0, stop=4, step=1)

- _columns_. Nombre de las columnas.

In [71]:
data.columns

Index(['names', 'sex', 'age', 'grades'], dtype='object')

- _shape_. Dimensiones del `dataframe` (filas, columnas).

In [72]:
data.shape

(4, 4)

- _size_. Cantidad de datos (retorna el número total de elementos: el producto del número de filas por columnas).

In [73]:
data.size

16

- _count_. Cantidad de datos **no** nulos.

In [74]:
data.count

<bound method DataFrame.count of      names   sex  age  grades
0    Lucas     M   23    4.50
1  Juliana     F   21    2.00
2     Juan     M   25    3.25
3    Carla  None   30    4.00>

- _values_. Valores en el `dataframe`.

In [75]:
data.values

array([['Lucas', 'M', 23, 4.5],
       ['Juliana', 'F', 21, 2.0],
       ['Juan', 'M', 25, 3.25],
       ['Carla', None, 30, 4.0]], dtype=object)

- _T_. Trasponer. Notemos que los índices del `dataframe` son los nombres de las columnas del `dataframe` sin trasponer.

In [76]:
data.T

            0        1     2      3
names   Lucas  Juliana  Juan  Carla
sex         M        F     M   None
age        23       21    25     30
grades    4.5      2.0  3.25    4.0

- _dtypes_. Tipos de cada variable.

In [77]:
data.dtypes

names      object
sex        object
age         int64
grades    float64
dtype: object

### Filtrar datos 

Existen diferentes métodos para filtrar `dataframes`.

Para filtrar utilizando el nombre que identifica a la fila o a la columna usamos  `.loc`.

Por ejemplo:

- Extraer la columna `names`.

In [78]:
data.loc[:,'names']

0      Lucas
1    Juliana
2       Juan
3      Carla
Name: names, dtype: object

- Extraer las columnas `names` y `sex`.

In [79]:
data.loc[:, ['names', 'sex']]

     names   sex
0    Lucas     M
1  Juliana     F
2     Juan     M
3    Carla  None

- Extraer columnas unicamente, obviando el comando `loc` y usando corchetes.

In [80]:
data[['names', 'sex']]

     names   sex
0    Lucas     M
1  Juliana     F
2     Juan     M
3    Carla  None

Del mismo modo, para acceder a una columna y el nombre de esta no tiene espacios ni caracteres especiales, podemos acceder utilizando el comando `nombre_base.nombre_columna`.

In [81]:
data.names

0      Lucas
1    Juliana
2       Juan
3      Carla
Name: names, dtype: object

Para acceder a la posición de la fila o la columna, usamos el método `iloc`. Es importante recordar que `Python` denota la primera posición con 0.

Por ejemplo:

- Extraer el primer elemento.

In [82]:
data.iloc[:,0]

0      Lucas
1    Juliana
2       Juan
3      Carla
Name: names, dtype: object

- Extraer la tercera y cuarta fila del `dataframe`.

In [83]:
data.iloc[2:4,]

   names   sex  age  grades
2   Juan     M   25    3.25
3  Carla  None   30    4.00

El comando `.loc` permite filtrar la base utilizando condicionales. Por ejemplo, para filtrar los individuos con `sex` igual a `F` podemos utilizar un condicional para marcar las filas: en donde hay un `F` con `True` y  donde no lo hay con `False`.

In [84]:
filtro = data["sex"] == "F"
filtro

0    False
1     True
2    False
3    False
Name: sex, dtype: bool

In [85]:
data.loc[filtro,]

     names sex  age  grades
1  Juliana   F   21     2.0

### Crear una columna

Para crear una nueva columna hacemos lo siguiente:
`nombre_base['nombre_columna'] = contenido_columna`.

In [86]:
data['rescaled_grades'] = data.grades*100/5

##  Estadísticas Descriptivas

Para describir los datos de un `dataframe` se pueden utilizar distintas funciones contenidas en `Pandas`.

Algunos ejemplos son:

- _describe()_. Muestra estadísticas descriptivas básicas de las variables numéricas.

In [87]:
data.describe()

            age    grades  rescaled_grades
count   4.00000  4.000000         4.000000
mean   24.75000  3.437500        68.750000
std     3.86221  1.087332        21.746647
min    21.00000  2.000000        40.000000
25%    22.50000  2.937500        58.750000
50%    24.00000  3.625000        72.500000
75%    26.25000  4.125000        82.500000
max    30.00000  4.500000        90.000000

- _sum()_. Suma.

In [88]:
data.sum()

names              LucasJulianaJuanCarla
age                                   99
grades                             13.75
rescaled_grades                    275.0
dtype: object

- _min()_. Mínimo.

In [89]:
data.min()

names              Carla
age                   21
grades               2.0
rescaled_grades     40.0
dtype: object

- _max()_. Máximo.

In [90]:
data.max()

names              Lucas
age                   30
grades               4.5
rescaled_grades     90.0
dtype: object

- _idxmin()_. Índice de la posición del valor mínimo.

In [91]:
data.age.idxmin()

1

- _idxmax()_. Índice de la posición del valor máximo.

In [92]:
data.grades.idxmax()

0

- _mean()_. Media.

In [93]:
data.mean()

age                24.7500
grades              3.4375
rescaled_grades    68.7500
dtype: float64

- _median()_. Mediana.

In [94]:
data.median()

age                24.000
grades              3.625
rescaled_grades    72.500
dtype: float64

## Importar datos

Para cargar un archivo en formato csv usamos la función `pd.read_csv()`:

In [99]:
accidentes = pd.read_csv('https://github.com/ignaciomsarmiento/RecomSystemsLectures/blob/main/L01_Intro_Sistemas_Recomendac/Parte2/Data/info_accidentes.csv?raw=true')
accidentes.head()

,Fecha,GravedadNombre,ClaseNombre,ChoqueNombre,ObjetoFijoCodigo,ObjetoFijoNombre,OtraClase,NombreOtraClase,Latitud,Longitud,...,TipoVia2,NumeroVia2,LetraVia2,CardinalVia2,Localidad,HoraOcurrencia,TipoDiseño,TipoTiempo,TotalMuertos,TotalHeridos
0,01/13/2016 12:00:00 AM,Con Heridos,Choque,Vehiculo,,,,,0.0,0.0,...,CL,83.0,,,ENGATIVA,12/31/1899 10:30:00 PM,Interseccion,Normal,0,2
1,01-12-16 0:00,Con Heridos,Atropello,,,,,,0.0,0.0,...,KR,7.0,,,USAQUEN,12/31/1899 03:40:00 PM,Interseccion,Normal,0,1
2,01/13/2016 12:00:00 AM,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,...,KR,5.0,,E,SAN CRISTOBAL,12/31/1899 07:20:00 AM,Tramo de Via,Normal,0,0
3,01/17/2016 12:00:00 AM,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,...,KR,107.0,,,ENGATIVA,12/31/1899 06:10:00 AM,Tramo de Via,Normal,0,0
4,01/18/2016 12:00:00 AM,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,...,CL,48.0,,S,RAFAEL URIBE URIBE,12/31/1899 05:00:00 PM,Tramo de Via,Normal,0,0

La función `pd.read_csv` puede tomar multiples argumentos que ayudan en la lectura de los archivos. Para conocer estos argumentos y sus detalles utilizamos la función `ayuda` denotada por el signo de interrogación `?`.

In [100]:
?pd.read_csv

Para cargar un archivo de Excel usamos la función `pd.read_excel()`

In [101]:
accidentes2 = pd.read_excel('https://github.com/ignaciomsarmiento/RecomSystemsLectures/blob/main/L01_Intro_Sistemas_Recomendac/Parte2/Data/info_accidentes.xlsx?raw=true')
accidentes2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34931 entries, 0 to 34930
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Fecha             34931 non-null  object
 1   GravedadNombre    34931 non-null  object
 2   ClaseNombre       34931 non-null  object
 3   ChoqueNombre      34931 non-null  object
 4   ObjetoFijoCodigo  34931 non-null  object
 5   ObjetoFijoNombre  34931 non-null  object
 6   OtraClase         34931 non-null  object
 7   NombreOtraClase   34931 non-null  object
 8   Latitud           34931 non-null  float64
 9   Longitud          34931 non-null  float64
 10  Direccion         34931 non-null  object
 11  TipoVia1          34931 non-null  object
 12  NumeroVia1        34931 non-null  object
 13  LetraVia1         34931 non-null  object
 14  CardinalVia1      34931 non-null  object
 15  TipoVia2          34931 non-null  object
 16  NumeroVia2        34625 non-null  float64
 17  LetraVia2         34931 non-null  object
 18  CardinalVia2      34931 non-null  object
 19  Localidad         34931 non-null  object
 20  HoraOcurrencia    34931 non-null  object
 21  TipoDiseño        34931 non-null  object
 22  TipoTiempo        34931 non-null  object
 23  TotalMuertos      34931 non-null  int64
 24  TotalHeridos      34931 non-null  int64
dtypes: float64(3), int64(2), object(20)
memory usage: 6.7+ MB

 # Conclusión
 
 En este *cuaderno* hicimos un breve resumen de las funciones básicas y de las librerias `Pandas`  de `Python`. Estas van a ser algunas de las funciones necesitaremos para el desarrollo de buena parte de las actividades de este curso. Al ser un resumen, no es exhaustivo, por lo que lo invitamos a a explorar por si mismo y leer las documentaciones de [`Python`](https://python-docs-es.readthedocs.io/es/3.9/index.html) y  [`Pandas`](https://pandas.pydata.org/docs/user_guide/index.html#user-guide).

## Bibliotecas

* [numpy](https://numpy.org/doc/stable/)
* [pandas](https://pandas.pydata.org/docs/index.html)